<nav>
    <ul>
        <li><%= link_to t('layout.rooms'), rooms_path %> </li>
        <li><%= link_to t('layout.signup'), new_user_path %> </li>
        <li><%= link_to t('layout.signin'), user_sessions_path %> </li>
    </ul>
</nav>